<div class="col-xs-12 products-section feed-products-section" id='main'>
  <div data-row class='center-product'>
    <div class="col-xs-6 col-md-3 width20p product mob_padding"><!--<div class='wishit' onclick='dataLayer.push({"event":"ProductBookmarkedEvent","eventName":"ProductBookmarked","productId":"3566887","type":"addedToWishlist","Sponsored":"1", "category":"NA","subCategory":"NA","source":"listingView", "productPrice":"10074.0000", "productSpecialPrice":"1849.0000", "positionOnPage":"0", "feed_id":"20208"});'>
                <div class='wishitIcon'><i class='icon-small icon-wish' id='wishicon-3566887'></i></div>
            </div>--><div class="product-image-container"><a title="" href="http://www.craftsvilla.com/catalog/product/view/id/3566887/s/shonaya-blue-yellow-designer-georgette-embroidery-work-saree-with-blouse-piece" onclick="dataLayer.push({&quot;event&quot;:&quot;ProductDetailsViewedEvent&quot;,&quot;eventName&quot;:&quot;ProductDetailsViewed&quot;,&quot;discountPercentage&quot;:&quot;82&quot;,&quot;Sponsored&quot;:&quot;1&quot;, &quot;productId&quot;:&quot;3566887&quot;, &quot;entityId&quot;:&quot;3566887&quot;, &quot;price&quot;:&quot;10074.0000&quot;,&quot;productPrice&quot;:&quot;10074.0000&quot;, &quot;productSpecialPrice&quot;:&quot;1849.0000&quot;, &quot;positionOnPage&quot;:&quot;0&quot;, &quot;Type&quot;:&quot;Feed&quot;, &quot;feed_id&quot;:&quot;20208&quot;, &quot;feedId&quot;:&quot;20208&quot;, &quot;category&quot;:&quot;NA&quot;, &quot;subCategory&quot;:&quot;NA&quot;});">
                      <img data-desktop-src="http://img1.craftsvilla.com/thumb/216x216/C/V/CV-MSHON66953901030--Shonayaa-Craftsvilla_1.jpg" data-mobile-src="http://img1.craftsvilla.com/thumb/166x166/C/V/CV-MSHON66953901030--Shonayaa-Craftsvilla_1.jpg" alt="" class="product-image" src="http://img1.craftsvilla.com/thumb/216x216/C/V/CV-MSHON66953901030--Shonayaa-Craftsvilla_1.jpg">
                     </a></div>
                        <div class="product-details-container col-xs-12">
                        <div class="product-name">
                        <a title="Yellow and blue georgette and chiffon saree" href="http://www.craftsvilla.com/catalog/product/view/id/3566887/s/shonaya-blue-yellow-designer-georgette-embroidery-work-saree-with-blouse-piece">
                        Yellow and blue ge..
                        </a>
                      </div>          <div class="price-container col-xs-12 nopadding"><div class="col-xs-6 col-md-6 col-lg-4 discounted-price n-price-fs nopadding">Rs.
                          1,849
                        </div><div class="col-xs-6 col-md-6 col-lg-4 original-price n-price-fs nopadding hidden-xs hidden-sm hidden-md">
                          <s>10,074</s>
                        </div>
                        <div class="col-xs-6 col-md-6 col-lg-4 save-percent nopadding">
                          Save 82%
                        </div></div>

                  </div>
                  <div class="wishit" onclick="dataLayer.push({&quot;event&quot;:&quot;ProductBookmarkedEvent&quot;,&quot;eventName&quot;:&quot;ProductBookmarked&quot;,&quot;productId&quot;:&quot;3566887&quot;,&quot;type&quot;:&quot;addedToWishlist&quot;,&quot;Sponsored&quot;:&quot;1&quot;, &quot;category&quot;:&quot;NA&quot;,&quot;subCategory&quot;:&quot;NA&quot;,&quot;source&quot;:&quot;listingView&quot;, &quot;productPrice&quot;:&quot;10074.0000&quot;, &quot;productSpecialPrice&quot;:&quot;1849.0000&quot;, &quot;positionOnPage&quot;:&quot;0&quot;, &quot;feed_id&quot;:&quot;20208&quot;});">
                          <div class="wishitIcon"><i class="icon-small icon-wish" id="wishicon-3566887"></i></div>
                        </div>
                </div>
                    
  </div>
</div>